@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: rgb(90, 255, 90) ;
    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

@media ( max-width: 1200px) {
    .cabecalho {
        padding: 10%, 0%
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 6% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque    {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.imagem {
    width: 70%;
}

.apresentacao__rede__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao__rede {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.apresentacao__rede__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    padding: 20.5px 115.5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    box-sizing: border-box;
}

.apresentacao__rede__botao:hover {
    background-color: #272727;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.curriculo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8%;
    font-family: var(--fonte-primaria);
}

.curriculo__titulo {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    padding: 20px 0px 20px;
    border: var(--cor-terciaria) solid 2px;
}

.curriculo__subtitulo {
    display: flex;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    padding: 10px 0px 10px;
}

.curriculo__nome {
    padding: 30px 0px 15px;
    font-size: 2.5rem;
}

strong {
    color: var(--cor-terciaria);
}

.sobre__titulo {
    display: flex;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    padding: 60px 60px;
}

.sobre__paragrafos__paragrafo {
    display: flex;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    gap: 2px;
    flex-direction: column;
}

.sobre__paragrafos {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    padding: 2%;
    padding-bottom: 20%;
    justify-content: center;
}